.container {
  padding: 2rem 1rem;
  width: 1080px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  margin: 0;
}

.user-image {
  width: 96px;
  height: 96px;
  border-radius: 50%;
}

.user-name {
  font-weight: bold;
  margin-top: 2rem;
}

.user-desc {
  margin-top: 1rem;
  font-weight: 300;
  width: 50%;
  text-align: center;
  font-size: 13px;
}

.message-container {
  height: 70vh;
  font-size: 30px;
  display: flex;
  align-items: center;
}

.connect-wallet-button {
  background: transparent;
  border: 1px solid white;
  border-radius: 50px;
  padding: 1.5rem;
  color: var(--koii-white);
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: transform 0.3s ease-in-out, background 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

.connect-wallet-button:hover {
  background: var(--koii-mint);
  color: var(--koii-blue);
}

.public-key {
  border: 1px solid #a59ad0;
  border-radius: 50px;
  padding: 1rem 2rem;
  font-size: 16px;
  color: var(--koii-white);
  display: inline-block;
  align-self: flex-end;
  color: #a59ad0;
  margin-bottom: 1rem;
}

.auth-user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links {
  margin-top: 3rem;
  width: 60%;
}

.link {
  display: block;
  text-align: center;
  padding: 1.2rem;
  outline: 1px solid #fff;
  border-radius: 50px;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out, outline 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

.link:hover {
  outline: 1px solid #9be7c4;
  color: #9be7c4;
}

.title {
  font-size: 16px;
}

.title-1 {
  margin: 2rem 0;
}

.footer {
  color: white;
  font-size: 14px;
  margin-top: 5rem;
  text-align: center;
}

.by-koii {
  font-style: italic;
  text-decoration: none;
  color: #9be7c4;
}
.by-koii:hover {
  text-decoration: underline;
}

.public-key-input-container {
  padding-top: 15rem;
}

.input-container {
  display: flex;
}

.public-key-input {
  background: transparent;
  border: 0;
  border-bottom: 1px solid white;
  padding: 1rem;
  color: var(--koii-white);
  font-size: 20px;
  outline: 0;
  width: 320px;
  transition: transform 0.3s ease-in-out, border 0.3s ease-in-out;
}

.public-key-input:hover {
  border-bottom: 1px solid #9be7c4;
}

.submit {
  width: 100px;
  border-radius: 50px;
  background: var(--koii-mint);
  color: var(--koii-blue);
  font-weight: 600;
  font-size: 22px;
  cursor: pointer;
  margin-left: 10px;
  transition: transform 0.3s ease-in-out, background 0.3s ease-in-out;
  border: 1px solid var(--koii-mint);
}

.submit:hover {
  border: 1px solid white;
  background: transparent;
  color: white;
}

.text-mint {
  color: var(--koii-mint);
}

.error {
  font-size: 14px;
  color: rgb(247, 104, 104);
  text-align: left;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .links {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .public-key-input {
    width: 240px;
    padding: 0.7rem;
  }
  .public-key-input-container h1 {
    font-size: 20px;
  }
  .submit {
    width: 80px;
  }
}

@media screen and (max-width: 375px) {
  .public-key-input {
    width: 200px;
    padding: 0.7rem;
  }

  .submit {
    width: 60px;
  }
}
